# Mac
.DS_Store

# IDEs
.idea/
.vscode/

# Python Middleware
api/venv/
api/__pycache__/

# Flutter App
app/build/
app/.dart_tool/

# Supabase Local
supabase/.temp/

# Ignore all .env files everywhere
.env
*.env
api/.env
app/.env